<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corretor Bot</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Corretor Bot</h2>
        </div>
        <div class="chat-body" id="chat-body">
            <div class="bot-message">
                Olá, sou o Corretor Bot da Corretora Nassau! Como posso ajudar você hoje? Vou deixar alguns tópicos para facilitar para você:
                <ul>
                    <li>Tipos de Imóveis e Ofertas</li>
                    <li>Documentação e Requisitos</li>
                    <li>Financiamento e Custos</li>
                    <li>Aluguel e Garantias</li>
                    <li>Móveis e Serviços Extras</li>
                    <li>Formas de Pagamento</li>
                    <li>Localidades e Atendimento</li>
                    <li>Atendimento Humano</li>
                    <li>Outras Perguntas Frequentes</li>
                </ul>
            </div>
            
        </div>
        <div class="chat-footer">
            <input type="text" id="user-input" placeholder="Digite sua mensagem...">
            <button id="send-btn">Enviar</button>
        </div>
    </div>
    <script src="scripts/script.js"></script>
</body>
</html>
